<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop name="cmcic.check.rights" class="CmCIC\Loop\CheckRightsLoop" />
    </loops>

    <forms>
	    <form name="cmcic.configure" class="CmCIC\Form\ConfigureCmCIC"/>
    </forms>

    <services>
        <service id="cmcic.confirmation.email" class="CmCIC\EventListeners\SendConfirmationEmail">
            <argument type="service" id="mailer"/>
            <argument type="service" id="event_dispatcher"/>

            <tag name="kernel.event_subscriber"/>
        </service>
    </services>

</config>
